<launch>

    <remap from="/cam0/image_raw" to="/front_left_view"/>
    <remap from="/cam1/image_raw" to="/front_right_view"/>

    <node pkg="stereo_dso_ros" type="stereo_dso_ros" name="stereo_dso" 
          args="calib=$(find stereo_dso_ros)/examples/calibCameraStereoDSO.txt preset=0 mode=1" 
          output="screen" /> 

</launch> 