<launch>

    <remap from="/cam0/image_raw" to="/kitti_stereo/left/image_rect"/>
    <remap from="/cam1/image_raw" to="/kitti_stereo/right/image_rect"/>

    <node pkg="stereo_dso_ros" type="stereo_dso_ros" name="stereo_dso" 
          args="calib=$(find stereo_dso_ros)/examples/camera_kitti.txt preset=0 mode=1" 
          output="screen" />

</launch> 